.page {
	width: 100%;
	margin: 0 auto;
	font-family: 'Inter', "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	background-color: #14213d;
}

.page__content {
	width: 90%;
	margin: auto;
}

  